body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('cafe-racer.avif') no-repeat center center fixed; /* Background image */
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:black;
    color: white;
}
.logo:hover{
    color: blue;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#main-content {
    height: calc(100vh - 70px); /* Full height minus header */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align text to the left */
    padding: 20px;
    color: white;
}

.text-overlay {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

#fun-section { 
    height: 100vh; 
    background: url('ton-of-fun.jpeg') no-repeat center center;
    background-size: cover; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    padding: 20px; 
}

.fun-text { 
    background-color: rgba(0, 0, 0, 0.1);
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
}



#features 
{ 
    display: grid; 
    grid-template-columns: 25% 25%; 
    grid-template-rows: 25% 25%; 
    width: 100%; 
    height: 25%;
    gap: 1px; 
} 
.grid-container 
{ 
    display: grid; 
    gap: 1px; 
    width: 100%; 
    height: 100%; 
} 
.grid-item { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid #ccc; 
    text-align: center; 
    padding: 20px; 
    background-color: #f4f4f4; 
} 
.grid-item h2 
{ 
    margin: 10px 0; 
} 
.grid-item p { 
    margin: 10px 0; 
}
.grid-item img { 
    width: 100%; 
    height: auto; 
    border-radius:10px;
}




#testdrive {
    height: calc(100vh - 70px); /* Full height minus header */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Move form to the right */
    padding: 20px;
    background-image: url('blacked-out.avif'); /* Background image */
    background-size: cover;
    background-position: center;
    color: white;
}

.testdrive-form {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 20px;
}

.testdrive-form h2 {
    margin-top: 10px;
}

.testdrive-form label {
    display: block;
    margin: 10px 10px 5px;
}

.testdrive-form input, .testdrive-form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: solid;
    border-radius: 15px;
}

.testdrive-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.testdrive-form input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
